<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression suite" verbose="10" thread-count="1" >
    <test name="Test Cases 1 " >
        <classes>
            <class name="testbase.signintest.SigninTest"/>
        </classes>
    </test>
    <test name="Test Cases 2" >
        <classes>
            <class name="testbase.flightbookingtest.FlightBookingTest"/>
        </classes>
    </test>
    <test name="Test Cases 3" >
        <classes>
            <class name="testbase.hotelbookingtest.HotelBookingTest"/>
        </classes>
    </test>
</suite>